#welcome {
    position: relative;
}
.song-name {
    display: block;
}
.song-artists {
    color: DarkGray!important;
    right: 20px;
    display: block;
    float: right;
}
.song-info{
    padding-top: 30px;
}
.song-info p{
    display: inline-block;
    padding: 10px 10px 0 0;
}
.card-action {
    padding-top: 5px!important;
}
.card-content {
    padding-bottom: 5px!important;
}
.pagination {
    display: block;
    text-align: center;
}
#song-search-btn {
    margin-top: 10px;
    width: 100%;
    border: 0px;
    border-radius: 2px;
    background: #888;
    font-size: 14px;
    line-height: 16px;
    outline: none;
    padding: 0 13px;
    height: 36px;
    color: #fff;
}
#search-loadmore-btn {
    width:100%;
    padding: 0 10px 0 10px;
    display:none;
}
.collection .collection-item.avatar {
    min-height: 0!important;
}
#song-search-result ul li{
    transition: background-color 500ms, padding 500ms;
    cursor: pointer;
}
#song-search-result ul li:hover {
    background: #D8D8D8;
}
.status {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 0px;
    border-radius: 2px;
    font-size: 10px;
    line-height: 30px;
    outline: none;
    padding: 0 13px;
    height: 30px;
    color: #fff;
}
.status-wait {
    background: #888;
}
.status-played {
    background: #00CC00;
}
.status-ignore {
    background: #996600;
}
@media screen and (min-width: 600px){
    .card-image .aplayer {
        height: 150px;
        width: 150px;
    }
    .aplayer .aplayer-pic {
        height: 100%!important;
        width: 100%!important;
        background-size:cover!important;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 600px){
    .card-content {
        padding-top: 5px!important;
        padding-bottom: 0!important;
    }
    .card-image .aplayer {
        margin-top:10px;
        margin-left: 10px;
        min-width: 100px;
        height: 150px;
    }
    .aplayer .aplayer-pic {
        height: 100%!important;
        width: 100%!important;
        background-size:cover!important;
        background-repeat: no-repeat;
    }
    .song-name {
        display: block;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    .song-singer {
        font-size: 0.7rem;
        padding:0.1rem;
    }
    .song-info {
        font-size: 0.6rem;
    }
  .song-info p{
      padding: 5px 10px 0 0;
  }
}
