.status {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 0px;
    border-radius: 2px;
    font-size: 10px;
    line-height: 30px;
    outline: none;
    padding: 0 13px;
    height: 30px;
    color: #fff;
}
.status-wait {
    background: #888;
}
.status-played {
    background: #00CC00;
}
.status-ignore {
    background: #996600;
}
.admin-song-action-button {
    position: absolute;
    right: 80px;
    bottom: 10px;
    font-size: 10px;
    line-height: 30px;
    height: 30px;
}
.admin-song-putout-button {
    position: absolute;
    right: 175px;
    bottom: 10px;
    font-size: 10px;
    line-height: 30px;
    height: 30px;
}
#admin-song-edit-modal p {
    display: inline-block;
}
